# TODO: replace by serverless info
org: org-name
app: app-name
service: service-name
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  # TODO: replace by your own var
  environment: # Global env var
    ADMIN_WALLET_PRIVATE_KEY: ""
    COIN_GECKO_API_KEY: ""
    ORACLE_CID: ""

# TODO: edit freqency if needed
functions:
  rateHandler:
    handler: index.update
    events:
      # Invoke update function every 15 minutes
      - schedule: rate(15 minutes)
  cronHandler:
    handler: index.run
    events:
      # Invoke read function every 20 minutes
      # (5min after the oracle update so it has time to update the price)
      - schedule: cron(0/20 * * * ? *)